@font-face {
    font-family: Inter-Regular;
    src: url('Inter.ttf') format('truetype');
}
@font-face {
    font-family: Inter-Black;
    src: url('Inter.ttf') format('truetype');
}

:root{
    --border-width: 1px;
    --border-radius: 5px;
    --border-color: #191c1e;
    /*
    Light theme colors
    --main-light-text-color: #006783;
    --sec-light-text-color: #bce9ff;    
    --main-light-background: #dff4ff;
    --sec-light-background: #004d67;

    Dark mode colors
    --dark-text-color: #bce9ff;
    --main-dark-background: #001f2a;
    --sec-dark-background: #0080aa;
    */

    --main-background: #dff4ff;
    --sec-background: #004d67;
    --main-text-color: #006783;
    --sec-text-color: #bce9ff;
}

body{
    font-size: 14pt;
    font-family: Inter-Regular;
    margin: 0;    
}

h2{
    font-size: 16pt;
    font-weight: 500;
    font-style: italic;    
}

h1{
    font-weight: bold;
    font-size: 18pt;
    font-family: Inter-Black;
}

select{
    border-width: 1px;
    width: 211px;
}

select > option{
    width: 211px;
    height: 20px;
}

input[text]{
    border-width: 1px;
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.size-32{
    font-size: 32px;
    font-variation-settings: 'OPSZ' 32;
    color: var(--sec-text-color);
    transition: color ease-out 0.2s;
}

span.icon-hover-highlight:hover{
    color: var(--main-background);
    transition: color ease-out 0.2s;
}

.main-content-blur-profileMenu{
    position: absolute;
    right: 0;
    height: calc(100lvh - 70px) !important;
    width: calc(100lvw - var(--menu-width)) !important;
    padding: 0px;
    margin: 0px;
    backdrop-filter: blur(1px);
    transition: ease-out 0.3s;      
}

@media screen and (max-width: 576px) {
    :root{
        --menu-def-width: 0px;
        --menu-width: 0px;
    }

    .main-content-blur{
        position: absolute;
        right: 0;
        height: calc(100lvh - 70px);
        width: calc(100lvw - var(--menu-width));
        padding: 0px;
        margin: 0px;
        backdrop-filter: blur(1px);
        transition: ease-out 0.3s;      
    }
}

@media (min-width: 577px) and (max-width: 1199px){
    :root{
        --menu-def-width: 70px;
        --menu-width: 70px;
    }

    .main-content-blur{
        position: absolute;
        right: 0;
        height: calc(100lvh - 70px);
        width: calc(100lvw - var(--menu-width));
        padding: 0px;
        margin: 0px;
        backdrop-filter: blur(1px);
        transition: ease-out 0.3s;      
    }
}

@media screen and (min-width: 1200px) {
    :root{
        --menu-def-width: 70px;
        --menu-width: 70px;
    }
}