@using Desktop.Models;
@page "/newexpense"


<PageTitle>NewExpense</PageTitle>

<h1>Add a New expense</h1>
<div>
   <label>Name:</label>
<input type="text"/>
</div>
<div>
    <label>Category</label>
    <select>
        @foreach(var category in categories){
           <option>category.name</option>
        }
    </select>
</div>
<div>
    <label>Amount</label>
    <input type="number"/>
</div>
<div>
    <label>Currency</label>
  <select>
        @foreach(var m in money)
        {
           <option>m.name</option>
        }
    </select>
</div>
<div>
    <label>Exclude from statistics</label>
    <input type="checkbox"/>
</div>
<div>
    <label>Tags
    </label>
<input type="text" />
</div>
<div> 
    <label>Notes</label>
<input type="text" />
</div>
<div>
    <label>Paid</label>
    <input name="status" type="radio" />
    <label>Not Paid yet</label>
    <input name="status" type="radio"/>
</div>
<div>
    <label>Date</label>
    <input type="date"/>
</div>
<div>
    <label>Payee</label>
    <input type="text"/>
</div>
<button id="gomb" class="btn btn-primary">Save</button>


@code {
    private List<Category> categories = new List<Category>();
    private List<Money> money = new List<Money>();


}
